header{
    background-color: #ccb68d;
    padding: 10px;
    @include flex(flex, row, wrap, space-between, center);
    // position: sticky;
    top: 0;
    box-shadow: 3px 6px 20px -4px rgba(0,0,0,0.73);
    -webkit-box-shadow: 3px 6px 20px -4px rgba(0,0,0,0.73);
    -moz-box-shadow: 3px 6px 20px -4px rgba(0,0,0,0.73);
    h1{
        font-size: 40px;
        font-weight: 100;
        color: $color-titulos;
        padding-left: 50px;
    }
}